.FormImage {
  width: 500px;
  height: 500px;
}

.f-img-bg-light {
  background-color: #f1f1f1;
  transition-duration: 1s;
}

.f-img-bg-dark {
  background-color: #181818;
  transition-duration: 2s;
}

.m-5 {
  margin: auto !important;
}

.contain {
  margin-top: 70px;
}

.span {
  padding-top: 18px;
  border-radius: 0;
}

.input-group-text {
  border: 0.9px solid #000000;
  border-right: 0 solid #000000;
  background-color: #ffffff;
}

.form-control {
  border-radius: 0 !important;
  border: 0.9px solid #000000;
}


.btn {
  border-radius: 0 !important;
}

.form-width {
  width: 80%;
  margin: 0 auto;
  padding: 16px;
}

.btn-outline-dark {
  background-color: #ffffff;
}

.text {
  font-size: 14px;
  color: #616060;
}

.text :hover {
  color: #000000;
  cursor: pointer;
}

.position-absolute {
  z-index: 1;
  top: 80px;
  left: 100px;
}

.btn-dark {
  background-color: #000000 !important;
}

.btn-dark:hover {
  background-color: #f1f1f1 !important;
  color: #000000 !important;
  transition-duration: 0.5s;
}

.btn-outline-dark:hover {
  background-color: #000000 !important;
  transition-duration: 0.5s;
}

.fas {
  padding-bottom: 8px !important;
  color: #000000;
}

.custom-control-label::before {
  background-color: #181818;
  border: #181818;
  cursor: pointer;
}

.custom-switch .custom-control-label::after {
  background-color: #f1f1f1;
}

.custom-switch .custom-control-input:checked ~ .custom-control-label::after {
  background-color: #000000;
}

.custom-control-input:checked ~ .custom-control-label::before {
  background-color: #f1f1f1;
  border-color: #f1f1f1;
}
